.site {
  position: relative;
  transition: left 0.4s;
  left: 0;
  //transform: translate3d(0, 0, 0); // can't use these because of a bug in chrome and firefox

  &.mobile-navigation-toggled {
    left: calc( -100% + 55px );
    //transform: translate3d(calc(-100% + 55px), 0, 0); // can't use these because of a bug in chrome and firefox
  }
}

// https://www.sitepoint.com/community/t/css3-tip-of-the-week-no-1/32066

.container {
  position: relative;
  max-width: $site-max-width;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.flex-container {
  display: flex;
}
