.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $theme-primary;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding: 9.5px 17.5px;
	text-align: center;
	font-weight: $font-weight-bold;
	border-radius: 0;
	background: transparent;
	transition: color 0.2s linear, border-color 0.2s linear, background-color 0.2s linear;
	position: relative;
	white-space: nowrap;
	line-height: 1.2;
	color: $theme-primary;
	@include font-size(1);

	&:hover {
		background: $theme-primary-alt!important;
		border-color: $theme-primary-alt;
		color: #fff;
	}

	&:active,
	&:focus {
		border-color: $theme-primary-alt;
		outline: none;
	}
}
