.form-container {
	display: flex;
	align-items: stretch;
	justify-content: space-between;

	.form-control {
		flex: 1 1 100%;
	}
}

input,
textarea,
select {
	font-family: $font__main;
	letter-spacing: -0.02em;
	font-weight: $font-weight-light;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: #e6e6e6;
	color: #999;
	font-size: 1.067em;
	padding: 0 10px;
	height: 45px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background-image: none;
	border-bottom: 2px solid transparent;
	transition: color 0.2s linear, background 0.2s linear, border 0.2s linear;

	&:focus {
		color: $theme-text;
		background: #fff;
		border-bottom-color: $theme-primary;
		outline: none;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
