h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	clear: both;
	line-height: 1.2;
	color: $theme-secondary;
}

h1,
.h1 {
	font-size: 2.25em;
	font-weight: $font-weight-bold;
}

h2,
.h2 {
	font-size: 1.933em;
	text-transform: capitalize;
}

h3,
.h3 {
	font-size: 1.2em;
	text-transform: uppercase;
}

h4,
.h4 {
	font-size: 1.2em;
}
