$theme-text: #53565a;
$theme-primary: #f05a28;
$theme-primary-alt: #d24b1e;
$theme-primary-lighter: #ff963c;
$theme-primary-darker: #fcad41;
$theme-primary-border: #f05a28;
$theme-secondary: #662d91;
$theme-secondary-alt: #501973;
$theme-gray: #959493;
$theme-page-header: #666;
$theme-page-header-text: #b6b3af;
$theme-border-color: #ebe9e5;
$theme-off-white: #f7f7f7;

$theme-facebook: #3b5998;
$theme-twitter: #1a8bf0;
$theme-instagram: #fb3958;
$theme-linkedin: #0077b5;
$theme-google: #ea4335;

$color__background-body: #f0f0f0;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
