#supernav {
	display: none;
	position: relative;
	min-height: 30px;
	transition: all 0.5s ease-out;
	background-color: #f7f7f7;
	font-size: .86666667em;
	overflow: hidden; // for the rotated box shadow on :before
	transition: min-height 0.3s;

	.nav-menu {
		opacity: 1;
		visibility: visible;
		transition: transform 0.3s, opacity 0.2s, visibility 0.3s 0s;
	}

	.desktop-search & {
		min-height: 60px;

		.nav-menu {
			transform: translateY(-100%);
			opacity: 0;
			visibility: hidden;
			transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
		}

		.nav-search > a {
			line-height: 60px;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0px 2px 8px 0px rgba(#000,0.15);
		display: block;
		pointer-events: none;
		transform: rotateZ(180deg);
	}

	.nav-search {
		width: 45px;

		> a {
			transition: line-height 0.3s;
		}

		.search-bar {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			top: 100%;
			right: 70px; /* .nav-search width + 25px container padding */
			transition: top 0.3s, opacity 0.2s, visibility 0s 0.3s;

			.form-control {
				flex: 0 0 auto;

				&:last-of-type {
					display: none;
				}
			}

			.desktop-search & {
				top: 0;
				opacity: 1;
				visibility: visible;
				transition: top 0.3s, opacity 0.2s, visibility 0.3s 0s;
			}

			input[type="search"] {
				height: 60px;
				display: block;
				font-weight: $font-weight-light;
				border: none;
				outline: none;
				padding: 3px;
				background: none;
				cursor: text;
				text-align: right;
			}
		}
	}

	a {
		display: block;
		padding: 0 15px;
		line-height: 30px;
		font-weight: $font-weight-stronger;
		transition: color 0.2s linear;
		text-transform: uppercase;
	}

	.container > .flex-container {
		justify-content: flex-end;
	}

	.nav-menu > li + li,
	.supernav-btn {
		border-left: 1px solid #b6b3af;
	}

	@media only screen and (min-width: $device-sm) {
		display: block;
	}
}

#site-navigation {
	display: none;

	.flex-container {
		min-height: $site-navbar-height;
	}

	.nav-menu {

		> li {
			position: relative;
			flex: 1 1 auto;

			&:last-child {

				> a {
					background-color: $theme-secondary;
				}

				&:hover,
				&:focus,
				&.focus {

					> a {
						background-color: $theme-secondary-alt;
					}
				}
			}

			&:hover,
			&:focus,
			&.focus {

				> a {
					background-color: $theme-primary-alt;
				}

				> .sub-menu {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		a {
			font-size: 0.875em;
			font-weight: $font-weight-stronger;
			white-space: nowrap;
			line-height: 50px;
		}
	}

	.sub-menu {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 200px;
		background: $theme-primary-alt;
		visibility: hidden;
		opacity: 0;
		box-shadow: 0px 4px 8px 0px rgba(#000,0.25) inset;
		transition: visibility 0s, opacity 0.2s ease-in-out;

		li {
			border-top: 1px solid $theme-primary-border;
		}

		a {
			display: block;
			text-transform: capitalize;
			padding: 0 25px;

			&:hover {
				color: $theme-primary-darker;
				background-color: inherit;
			}
		}
	}

	@media only screen and (min-width: $device-sm) {
		display: block;
	}
}

#mobile-navigation {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	width: calc( 100% - 55px );
	transform: translateX(100%);
	transition: transform 0.4s, visibility 0s 0.3s;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: hidden;
	background: $theme-primary;

	.sticky & {
		top: $site-navbar-mobile-height;
	}

	ul {
		padding: 13px 0;

		a {
			position: relative;
			padding: 17px 30px;
			line-height: 1.2;
			display: block;
			color: $theme-primary;
			text-transform: uppercase;
			transition: transform 0.3s, opacity 0.3s;
		}

		.menu-item-has-children,
		.page_item_has_children {

			> a,
			.go-back > a {

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: -1px;
					display: inline-block;
					height: 2px;
					width: 10px;
					backface-visibility: hidden;
					right: 20px;
					transform-origin: 9px 50%;
					background: $theme-primary;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}
		}

		&.move-out > li > a {
			transform: translateX(-100%);
			opacity: 0;
		}
	}

	.nav-menu {

		.current_page_item,
		.current-menu-item,
		.current_page_ancestor,
		.current-menu-ancestor {

			> a {
				font-weight: $font-weight-bold;
				color: $theme-primary-alt;
			}

			&:not(.menu-item-has-children):not(.page_item_has_children) {

				> a:before {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 0 4px 6px;
					border-color: transparent transparent transparent #101010;
					position: absolute;
					display: block;
					top: 50%;
					left: 30px;
					transform: translate(-100%, -50%);
					margin-left: -9.5px;
				}
			}
		}
	}

	.site-nav-menu {
		background: #fff;
	}

	.secondary-nav-menu {

		a {
			color: #fff;
		}
	}

	&.toggled-on {
		visibility: visible;
		transition: transform 0.4s, visibility 0s 0s;
		transform: translateX(0);
	}

	.sub-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		transition: transform 0.3s;
		transform: translateX(100%);

		.go-back {

			> a:before,
			> a:after {
				right: auto;
				left: 20px;
				transform-origin: 1px 50%!important;
			}

			span {
				margin-left: 0.35em;
				font-weight: $font-weight-bold;
				color: $theme-primary-alt;
			}
		}
	}

	.sub-menu-active .sub-menu {
		transform: translateX(0);
	}

	@media only screen and (min-width: $device-sm) {
		display: none;
	}
}

.nav-drawer {

	.drawer {
		display: none;
	}

	&.drawer-open {

		.drawer {
			display: block;
		}

		> a {
			background: $theme-primary-lighter;
		}
	}
}

.nav-menu,
.sub-menu {
	list-style: none;
	margin: 0;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
